@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.sidebar {
  @apply flex items-center gap-x-4 rounded-md px-4 py-3 text-lg font-medium transition-all duration-75 hover:bg-[#FFB200]/70 hover:font-semibold hover:text-black;
}

.navbar {
  @apply text-[#FFFFFFB2] hover:text-[#FFFFFFE6];
}

.flip-card {
  perspective: 1000px; /* Adds perspective for 3D effect */
}

.flip-card-inner {
  transition: transform 0.6s; /* Smooth transition on transform */
  transform-style: preserve-3d; /* Preserve 3D transformation */
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Flips the card on hover */
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden; /* Hides the back of the card initially */
}

.flip-card-back {
  transform: rotateY(180deg); /* Initially hidden, flipped 180 degrees */
}

.hero-heading {
  @apply max-w-[740px] text-3xl font-bold capitalize leading-[60px];
}

.tool-container {
  @apply flex h-16 w-16 items-center justify-center rounded-full;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
